body, html {
    height: 100%;
    margin: 0;
    font-family: 'Mukta Vaani', sans-serif;
}



.bg {
    /* The image used */
    background-image: url("carousel.jpg");

    /* Full height */
    width: 100%;
    /* Center and scale the image nicely */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.content {
    position: relative;
    text-align: center;
    color: white;

}

.relative {
    position: relative;
}

.content-skills {
    position: absolute;
    color:white;

}


.fit {
    padding-top:70px; position:relative
}

h1{
    font-family: 'PT Sans', sans-serif;
}

h2{
    font-family: 'PT Sans', sans-serif;
}

.fit p {
    font-family: 'Mukta Vaani', sans-serif;
}

.text-home {
    text-align: justify;

}

@media only screen and (min-width: 320px) {
    /* For phone: */
    .box-home-m {
        position: absolute;
        top: 30%;
        right: 0;
        color:black;
        width: 100%;
        height: auto;
        background-color: white;
        padding: 5px;
    }
}

@media only screen and (min-width: 360px) {
    /* For phone: */
    .box-home-m {
        position: absolute;
        top: 30%;
        right: 5%;
        color:black;
        width: 90%;
        height: auto;
        background-color: white;
        padding: 15px;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .box-home-t {
        position: absolute;
        top: 30%;
        right: 17%;
        color:black;
        width: 70%;
        height: auto;
        background-color: white;
        padding: 15px;
    }
}

@media only screen and (min-width: 790px) {
    /* For desktop: */
    .box-home {
        position: absolute;
        top: 40%;
        right: 30px;
        color:black;
        width: 40%;
        height: auto;
        background-color: white;
        padding: 15px;
    }
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.skills {
    width:100%;
    background-image:url('img/skills.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    color:white;
}

.blog {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    background:white
    
}

.blog p {
    padding:15px 15px 0 15px;
}

.blog img {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.blog h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.blog a{
    margin-bottom: 15px;
}

.bg-contact {
    width: 100%;
    height: auto;
    object-fit:cover;
}
